<%- include ('../partials/head') %>
<%- include ('../partials/nav') %>


<main>
    <% if (apps.length == 0) { %>
        <h1>No applications added yet!</h1>
    <% } else { %>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">appID</th>
                <th scope="col">Name</th>
                <th scope="col">Company</th>
                <th scope="col">Industry</th>
                <th scope="col">Description</th>
              </tr>
            </thead>
            <tbody>
                <% for(let i = 0; i < apps.length; i++) { %>
                <tr>
                    <td><%= apps[i].appid %></td>
                    <td><%= apps[i].name %></td>
                    <td><%= apps[i].company %></td>
                    <td><%= apps[i].industry %></td>
                    <td><%= apps[i].description %></td>
                    <td>
                        <a href="/users/<%= user.userid %>/job-applications/<%= apps[i].appid %>">
                          <button type="submit" class="btn btn-outline-primary">
                            EDIT
                          </button>
                        </a>
                    </td>
                </tr>
                <% } %>
            </tbody>
          </table>
    <% } %>
    <a href="/users/<%= user.userid %>/job-applications/add">
      <button type="submit" class="btn btn-outline-primary">
        Add Application
      </button>
    </a>
</main>

<%- include ('../partials/footer') %>
