<%- include ('../partials/head') %>
<%- include ('../partials/nav') %>


<main>
    <div class="container">
      <form action="/home" method="POST">
        <div>
            <h1 style="margin-left:auto; margin-right:auto; margin-top:50px">
                <centre>Welcome <%= user.firstName %>
                </centre>
            </h1>
        </div>
        <div>
            <a href="/users/<%=user.userid%>/job-applications">Submitted Applications</a>
        </div>

        <div>
            <a href="/jobs">Find Jobs</a>
        </div>


</main>

<%- include ('../partials/footer') %>
