<%- include ('../partials/head') %>
<%- include ('../partials/nav') %>
<%- include ('../partials/alerts') %>'
<main>
    <h1 style="margin-left:auto; margin-right:auto; margin-top:50px">
        <centre>Welcome <%= user.formData.first_name %>
        </centre>
    </h1>
    <form action="/information_1" method="POST">
        heeellooo
    </form>
</main>
<%- include ('../partials/footer') %>